{% extends 'base.html' %}

{% block content %}

<a href="{% url 'polls:index' %}">戻る</a>
<div x-data="{ question_text: '{{ question.question_text|escapejs }}' }">
    <fieldset>
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <legend><h1 x-text="question_text"></h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <input type="submit" value="投票">
        </form>

        <div x-data="{ form_show: false }">
            <button type="button" x-show="!form_show" @click="form_show = ! form_show">＋</button>
            <button type="button" x-show="form_show" @click="form_show = ! form_show">閉じる</button>
            <form id="choice_create" action="{% url 'polls:choice_create' question.id %}" method="post" x-show="form_show" x-transition>
                {% csrf_token %}
                <span>新しい選択肢を追加する</span>
                <input name="choice_text">
                <button type="submit" form="choice_create">追加</button>
            </form>
        </div>
    </fieldset>

    <h2>タイトル編集</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url 'polls:update' question.id %}" method="post">
        {% csrf_token %}

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% if flash_message %}<p><strong>{{ flash_message }}</strong></p>{% endif %}

        <div x-data="{form_text:'', text_empty: false}" x-modelable="form_text" x-model="question_text">
            <label for="title_input">タイトル</label>
            <input 
                id="title_input" 
                name="question_text" 
                type="text" 
                maxlength="200" 
                required="" 
                x-model="form_text"
            >

            <button type='button' @click="form_text='たとえば'">タイトルを入れる</button>

            <div x-show="!form_text">タイトルは1文字以上必要です</div>
            {{ form.question_text.errors }}
            <div>
                <button type="submit" :disabled="!form_text">保存</button>
            </div>
        </div>

    </form>
</div>


{% endblock %}
